@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #940e0e;
    text-decoration: none;
}

ul {
    list-style: none;
}

/*---------------------------BANNER--------------------------*/

.header {
    padding: 200px;
    text-align: center; 
    background: #025159; 
    color: wheat;
}

.header h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
}

.header h2 {
    margin-top: 10px;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}

/*---------------------------BARRA DE NAVEGACIÓN---------------------------*/

.navbar {
    overflow: hidden; 
    background-color: #940e0e
}
  

.navbar a {
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
}

.navbar a:hover {
    background-color: rgb(180, 165, 165); 
    color: black; 
}

/*---------------------------ESTRUCTURA DEL SITIO--------------------------*/

.row {
    display: flex;
    flex-wrap: wrap;
}
  
 
.aside { /*-----Panel izquierto-----*/
    flex: 25%; 
    background-color: #BFBFBF; 
    padding: 20px; 
}

#foto_perfil img {
    width: 100%;
    border-radius: 50%;
}

h1 {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: 15px; 
}

h3 {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: 15px;
}

.datos {
    margin: 20px;
    padding: 10px;
}

.datos p {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

#info {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px;
}

.main { /*-----Panel central-----*/
    flex: 75%;
    background-color: azure;
    padding: 20px;
}

.about_me {
    text-align: center;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 30px;
}

.experiencia h4,
.formacion h4,
.habilidades h4,
.contacto {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 30px;
}

.experiencia article,
.formacion article {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 30px;
}

.logos {    
    font-size: 80px;
    text-align: center;
}

.footer {
    padding: 10px;
    text-align: center; 
    background: #940e0e;
}

.footer h2 {
    color: antiquewhite;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
}

.footer p {
    color: antiquewhite;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
}

/*---------------------------REDES SOCIALES--------------------------*/

.social {
    margin: 0px;
    margin-top: 30px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.links {
    display: block;
    align-items: center;
    justify-content: center;
}
  
.links a {
    margin: 0 30px;
    text-decoration: none
}
  
.links a i {
    font-size: 3rem;
}

/*---------------------------FORMULARIO DE CONTACTO--------------------------*/

form {
    background-color: #940e0e;
    border-radius: 3px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}

input, textarea {
    border: 0;
    outline: none;
    width: 250px;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: right;
    font-size: 18px;
    border-bottom: #000;
    border-radius: 5px;
}

/*---------------------------RESPONSIVE--------------------------*/

@media screen and (max-width: 700px) {

    .row {
          flex-direction: column;
        }
    .header{
        display: none;
    }

    .aside {
        flex: 25%; 
        background-color: #BFBFBF; 
        padding: 20px; 
    }

    .main {
        flex: 75%; 
        background-color: azure;
        padding: 20px;
    }
      }
    
    @media screen and (max-width: 400px) {
        
    .navbar a {
          float: none;
          width: 100%;
        }
    .header{
        display: none;
    }

    .aside {
        flex: 25%; 
        background-color: #BFBFBF; 
        padding: 20px; 
    }
    
    .main {
        flex: 75%; 
        background-color: azure;
        padding: 20px;
    }
        }