@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: #940e0e;
    text-decoration: none;
}

ul{
    list-style: none;
}

/*---------------------------BANNER--------------------------*/

.header {
    padding: 200px;
    text-align: center; 
    background: #025159; 
    color: wheat;
}

.header h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
}

.header h2 {
    margin-top: 10px;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}

/*---------------------------BARRA DE NAVEGACIÓN---------------------------*/

.navbar {
    overflow: hidden; 
    background-color: #940e0e
}
  

.navbar a {
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
}

.navbar a:hover {
    background-color: rgb(180, 165, 165); 
    color: black; 
}